.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    transform: translateX(20px);
}

.fade-leave,
.fade-enter-to {
    opacity: 1;
    transform: translateX(0);
}